body{
    background-color: #070f25;
}
header{
    /* background-color: #fff; */
}
.header_list{
    list-style-type: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 80px;
    /* background-color: #fff; */
    /* margin: 0; */
}
.header_list > a{
    text-decoration: none;
    color: #fff;
    padding: 0 50px;
}

.container{
    display: flex;
    justify-content: center;
    /* height: 80vh; */
    align-items: center;
    padding: 100px 150px 0px 150px;
}

.left{
    padding-right: 100px;
}

h1{
    color: #d0d5e2;
}

.left > p{
    color: rgb(163, 172, 169);
}

.right{

}
img{
    width: 400px;
    border-radius: 30px;
}

.department{
    display: flex;
    justify-content: center;
    height: 65vh;
    align-items: center;
    padding: 0px 100px;
}

.dept{
    background-color: #fff;
    margin: 30px;
    padding: 30px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

